h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 48px;
    vertical-align: middle;
}

.impar td:nth-child(odd),
.par td:nth-child(even) {
    background-color: #769656;
}

.impar td:nth-child(even),
.par td:nth-child(odd) {
    background-color: #eeeed2; 
}

table, td {
    border: 2px solid #333;
}
